
#home-Page-first-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-content: center;
    background-color: #F7F7F7;
}

#home-Page-first-page > .home-left-Section {
    width: 50%;
    display: flex;
    /* height: 50%;*/
   /* border: 1px solid black;*/
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.letter-box {
    font-size: 1.8rem;
    font-family: 'Inter', sans-serif;
    /*border: 1px solid;*/
    padding-top: 31px;
}

.letter-box .introduce-box > p, h1, h6 {
    margin: 5px;
}

.introduce-box {
    display: flex;
    justify-content: end;
}

.introduce-top {
    padding-left: 3px;
    font-size: 1.5rem;
    color: rgb(87 84 84); /* color: rgb(111, 111, 111);*/
}

.main-Name {
    color: #0d3684;
}

.job-position {
    font-family: 'Rubik', sans-serif;
    /*color: rgb(0, 0, 0);*/
    color: rgb(87 84 84);
    font-size: 1.4rem;
    padding-top: 8px;
}


#home-Page-first-page > .home-right-section {
    display: flex;
    /*border: 1px solid blue;*/
    width: 40%;
    justify-content: center;
    align-items: end;

}

.main-pic {
    height: 86%;
    filter: drop-shadow(1.5px 1.5px 5px rgb(28 23 23 / 37%));

}

.main-pic-for-mobile{
    display: none;
}

.social-media-Bar {
    width: 100%;
    /*   border: 1px solid;*/
    height: 40%;
    position: relative;
    top: 112px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}

.social-media-Bar div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    margin-left: 34px;
    height: 22px;
    border-radius: 8px;
    background-color: #232323;
    cursor: pointer;
    box-shadow: 1.5px 1.5px 5px rgba(26, 27, 28, 0.37);

}

.social-media-Bar div:hover {
    background-color: rgba(3, 3, 101, 0.92);
    position: relative;
    bottom: 2px;
    transition: all 1.2s;
}

.social-media-Bar div img {
    width: 18px;
    height: 16px;
}

.btn-homePage {
    width: 150px;
    height: 35px;
    border-radius: 25px;
    position: relative;
    top: 40px;
    border: 2px solid #232323;
    font-size: 0.9rem;
    font-family: monospace;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(1.5px 1.5px 5px rgb(28 23 23 / 37%));

    color: #232323;
}

.btn-div :hover {
    background-color: #232323;
    color: white;
    cursor: pointer;
    transition: all 1.0s;
}

























