@media all and (min-width: 350px) and (max-width: 500px) {
    body {
        overflow-x: hidden;
        /* margin: 0;
         padding: 0;*/
    }

    header > nav {
        justify-content: start;
    }

    header ul {
        display: none;
    }

    header > nav > :first-child {
        display: flex;
    }


    /*HOME PAGE============================================================================*/
    .main-pic{
        display: none;
    }

    #home-Page-first-page{
        flex-direction: column-reverse;;
        justify-content: center;
        height: 100vh;
    }

    #home-Page-first-page > .home-left-Section{
        width: 100%;

    }

    #home-Page-first-page > .home-right-section {
        position: relative;
        top: 75px;
    }

    .main-pic-for-mobile{
        display: block;
        width: 80%;
        position: relative;
        bottom: 30px;
    }


   .letter-box{
        font-size: 1rem;
        padding-top: 80px;
    }

    .job-position {
        font-size: 0.9rem;
        padding-top: 8px;
        margin-left: 7px;
    }
    .introduce-box {
        display: flex;
        justify-content: start;
    }
    .introduce-top {
        padding-left: 3px;
        font-size: 1.2rem;
        color: rgb(87 84 84);
    }

    .btn-homePage {
        width: 95px;
        height: 33px;
        top: 13px;
        left: 234px;
    }

    .social-media-Bar{
        top: 13px;
        justify-content: space-around;
        right: 13px;
    }
    #home-Page-first-page > .home-right-section {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: end;
    }

    /*About Me Page =========================================================================*/
    #aboutMe-SecondPage {
        height: auto;
    }

    #aboutMe-SecondPage > .upSection > span {
        /*  margin-top: 2px;*/
        font-size: 2em;
        margin-top: 41px;
    }

    #aboutMe-SecondPage > .downSection {
        margin-top: 20px;
    }

    #aboutMe-SecondPage > .downSection > :first-child {
        display: none;
    }

    #aboutMe-SecondPage > .downSection > :last-child {
        width: 81%;
    }

    #aboutMe-SecondPage > .downSection > :last-child > h2 {
        text-align: start;
        font-size: 22px;

    }

    #aboutMe-SecondPage > .downSection > :last-child > article > p {
        font-size: 15px;
    }

    #aboutMe-SecondPage > .downSection > :last-child > .bio-detail {
        flex-direction: column;
    }

    #aboutMe-SecondPage > .downSection > :last-child > .bio-detail > section {
        display: flex;
        width: 97%;
        flex-direction: column;
    }

    .bio-attribute {
        font-size: 12px;
        font-weight: bolder;
        color: #0d0d6e;
        font-family: 'Roboto', sans-serif;
    }

    .bio-value {
        font-family: 'Inter', sans-serif;
        font-size: 13px;
        color: #020934;
        position: relative;
        left: 10px;
    }

    .left-value {
        position: relative;
        left: 17px;
    }

    .downSection > :last-child > div {
        justify-content: end;
    }


    /*What I Do Page =========================================================================*/
    #whatIDo-thirdPage {
        height: auto;
    }

    #whatIDo-thirdPage > .upSection {
        position: relative;
        bottom: -54px;
        margin-bottom: 180px;
    }

    #whatIDo-thirdPage > .upSection > span {
        font-size: 2em;
    }

    #whatIDo-thirdPage > .downSection-main {
        position: relative;
        right: 26px;
        bottom: 77px;
    }

    #whatIDo-thirdPage > .downSection-main > div {
        width: 80vw;
    }

    #whatIDo-thirdPage > .downSection-main > div > :first-child {
        height: 60px;
        width: 60px;
        background-color: #ece0e0;
        position: relative;
        top: 14px;
    }

    #whatIDo-thirdPage > .downSection-main > div > span > .doimg {
        width: 35px;
        height: 35px;
    }

    #whatIDo-thirdPage > .downSection-main > div > .topic-Ido {
        font-size: 0.7em;
        padding-top: 50px;

    }

    #whatIDo-thirdPage > .downSection-main > div > :last-child {
        height: auto;
        justify-content: start;
        font-size: 17px;


    }

    .content-Ido {
        position: relative;
        bottom: -20px;
        margin-left: 45px;
        margin-right: 45px;
        line-height: 35px;
    }

    /*my Skills =========================================================================*/
    #skills-forthPage {
        height: auto;
    }

    #skills-forthPage > .upSection > span {
        /*  margin-top: 2px;*/
        font-size: 2em;
        margin-top: 30px;
    }

    #skills-forthPage > .downSection-skills {
        width: 80%;
        margin-top: 12px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(56px, 1fr));
    }

    #skills-forthPage > .downSection-skills div {
        display: flex;
        align-items: center;
        justify-content: end;
        box-shadow: 0 10px 15px rgba(0, 0, 0, .3);
    }

    #skills-forthPage > .downSection-skills > div > img {
        width: 45px;
        height: 45px;
        padding-top: 10px;
    }

    #skills-forthPage > .downSection-skills > div p {
        font-size: 0.8em;
    }

    /*my Skills =========================================================================*/
    #education-fivePage {
        height: auto;
        margin-top: 130px;
        /*margin-bottom: -10px;*/
    }

    #education-fivePage > .upSection-education > span {
        font-size: 2em;

    }

    #education-fivePage > .upSection-education {
        margin-top: 16px;
    }

    #education-fivePage > .downSection-education > section {

    }

    #education-fivePage > .upSection-education > :last-child {
        font-size: 1.0em;
        text-align: center;
        line-height: 20px;
        font-family: monospace;
        font-weight: bold;
    }

    #education-fivePage > .downSection-education {
        margin-top: 60px;
    }

    #education-fivePage > .downSection-education > section {
        width: 66%;
        position: relative;
        display: flex;
        justify-content: space-evenly;
        /* height: auto; */
        height: 919px;
        bottom: 39px;

    }

    #education-fivePage > .downSection-education > section > article {
        display: flex;
        flex-direction: column;
        border-radius: 15px;
        align-items: center;
        justify-content: center;

    }

    #education-fivePage > .downSection-education > section > article > .left-div {
        width: 100%;
        height: 175px;


    }

    .edu-image {
        border-radius: 15px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        width: 100%;
        height: 141px;

    }

    .downSection-education > section > article > .right-div {
        font-size: 0.4em;
        position: relative;
        bottom: 22px;
    }


    .downSection-education > section > article > .right-div > .degree-item {
        font-size: 17px;
        text-align: start;
    }


    /*my Projects =========================================================================*/
    #project-sixPage {
        height: auto;
    }

    #project-sixPage > .upSection-project {
        margin-top: 12px;
    }

    #project-sixPage > .upSection-project > span {
        font-size: 2em;
    }

    #project-sixPage > .downSection-project {
        margin-top: 71px;
        position: relative;
    }

    .projectWrapper > section > div {
        width: 60vw;
        height: 86%;
    }

    div > .project-img {
        width: 224px;
        height: 126px;
        position: relative;
        bottom: 0px;
    }

    .projectWrapper {
        position: relative;
        bottom: 48px;
    }

    /*Contact me=============================================================================*/
    #contactMe-sevenPage {
        height: auto;
    }

    #contactMe-sevenPage > .upSection-Contact > span {
        font-size: 2em;

    }

    #contactMe-sevenPage > .upSection-Contact {
        margin-top: 12px;
    }

    #contactMe-sevenPage > .downSection-Contactme {
        flex-direction: column;
    }

    .downSection-Contactme > .left-section-contact {
        width: 80%;
    }

    .left-section-contact > .describe-contact {
        font-size: 1em;
    }

    .input-Slides {
        height: 35px;
    }

    .submit-buttonArea {
        height: 32px;
    }

    .submitButton {
        width: 78px;
        font-size: 0.8em;
    }

    .right-section-contact {
        width: 73%;
    }

    .right-section-contact > .location-map-area {
        width: 100%;
        height: 274px;

    }

    iframe {
        height: 198px;
    }

    /*Footer =============================================================================*/
    #footer-last {
        height: auto;
    }

    #footer-last > .downSection-Footer {
        flex-direction: column-reverse;
    }

    #footer-last > .downSection-Footer > .left-article-footer {
        padding-left: 171px;

    }

    .downSection-Footer > .right-article-footer {
        width: 88%;
    }

    .right-article-footer > .img-project-footer {
        margin: 20px;
    }

    .assingment-lab {
        width: 169px;
        height: 45px;
        border-radius: 10px;
        margin-bottom: 28px;
    }

}








